.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.board {
  display: inline-block;
  margin: 5px;
}

.row {
  display: flex;
}

.square {
  width: 48px;
  height: 48px;
  font-size: 18px;
  border: 1px solid #ccc;
  margin: -1px 0 0 -1px;
  margin: 2px;
  background: #fff;
  cursor: pointer;
}

@media ( min-width: 600px){
  .square {
    width: 80px;
    height: 80px;
    font-size: 24px;
    border: 1px solid #ccc;
    margin: -1px 0 0 -1px;
    margin: 2px;
    background: #fff;
    cursor: pointer;
  }
}

.row::after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

p:hover {
  transition: 250ms;
}

.X {
  color: rgb(132, 0, 0);
  font-weight: bold;
}
.O {
  color: rgb(0, 150, 55);
  font-weight: bold;
}

.square:hover {
  box-shadow: 11px 8px 29px -1px rgba(201, 192, 192, 0.75);
  -webkit-box-shadow: 11px 8px 29px -1px rgba(201, 192, 192, 0.75);
  -moz-box-shadow: 11px 8px 29px -1px rgba(201, 192, 192, 0.75);
}

.square:hover.X, .square:hover.O {
  box-shadow: none;
}
